:root {
    --gray: #F3F2EE;
    font-size: 16px;
    font-family: 'Rambla', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--gray);
}

.nav-bar {
    background-color: white;
    width: 100vw;
    min-width: 768px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.7rem;
    flex-wrap: nowrap;
}

.nav-bar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    min-width: 768px;
    width: 100%;
    min-height: 100%
}

.nav-bar__left-side {
    flex-basis: 40%;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.nav-bar__right-side {
    flex-basis: 60%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.nav-bar-brand {
    position: relative;
    margin-left: 3.64vw;
    margin-right: 0;
}

.nav-bar-brand img {
    border-radius: 3px;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 0.92vw;
    margin-right: 0;
    width: 30.7vw;
}


.search__input {
    width: 100%;
    border: none;
    padding: 0 0.5rem 0 2.215rem;
    line-height: 1.75;
    color: #63686E;
    font-size: 12px;
    border-radius: 4px;
    outline: none;
    height: 34px;
    background-color: #EEF3F7;
    font-family: "Roboto", sans-serif;
}

.search-icon__container {
    position: absolute;
    left: 0.9375rem;
    top: 0.75rem;
    bottom:0.6875rem ;
}

.nav__items {
    display: flex;
    height: 36px;
}

.nav_item a {
    display: flex;
    align-items: center; 
    flex-direction: column; 
    height: 36px;
    width: 58px;
    filter: opacity(60%);
    text-decoration: none;
}

.nav_item button {
    display: flex;
    align-items: center; 
    flex-direction: column; 
    height: 38px;
    width: 58px;
}

.nav_item button span {
    filter: opacity(60%);
}

.nav_item img {
    height: 20px;
    margin-bottom: 5px;
}

.nav__link-text {
    display: inline;
    background-color: transparent;
    font-size: 0.625rem;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 400;
    fill: #191919;
    color: #191919;
}

.nav__link:hover, .nav__link-btn:hover span {
    filter: opacity(100%);
    fill: #191919;
    color: #191919;
}

.nav__link-btn {
    background-color: transparent;
}


.nav__link-btn {
    border: none;
    background-color: none;
    padding: 0;
    cursor: pointer;
}

.nav__photo {
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

#last-opt {
    padding-right: 2vw;
    padding-left: 3.2vw;
    height: 38px;
}

#last-opt .nav__photo {
    width: 25px;
    height: 25px;
    margin-bottom: 2px
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    min-width: 768px;
}

.container {
    width: 93.4vw;
    background-color: white;
    margin: 38px 3.3vw 0 3.3vw;
    display: block;
    border-radius: 0 0 4px 4px;
}

.profile {
    display: flex;
    flex-direction: column;
    margin-bottom: -3.8%;
}

.cover {
    height: 135px;
    background-image: url(images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-pic-container {
    height: 105px;
    width: 105px;
    position: relative;
    margin: 0px 31.38px;
    bottom: 77px;
}

.profile-pic {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.profile-description {
    position: relative;
    top: -65px;
    margin: 0 22px;
}

.profile-description h1 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 7px;
}

.profile-description h2 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 6px;
}

.profile-description h3 {
    font-size: 12px;
    font-weight: 400;
    color: #666;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 14px;
    position: relative;
    bottom: 55px;
    margin: 0 22px;
}

.buttons-container button {
    background: #ffffff;
    border: 1px solid #666666;
    box-sizing: border-box;
    border-radius: 15px;

    color: #666666;
    padding: 3px 14px;
    font-size: 0.7rem;
    font-weight: 700;
    cursor: pointer;
}

.buttons-container button:hover {
    border: 2px solid #5E5E5E;
    background: #EBEBEB;

    color: #5E5E5E;
    font-weight: 700;
    margin: -1px;

    transition: background .2s;
}

.buttons-container button:first-child {
    background-color: #0B65C2;
    color: #ffffff;
    border: none;
    margin: -1px;
}

.buttons-container button:first-child:hover {
    background-color: #004182;
}

.experience, .education {
    margin: 17px 0 33px 21px;
}

.experience h2, .education h2 {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.exp-img {
    width: 35px;
    height: 35px;
}

.exp-img img {
    max-width: 100%;
    max-height: 100%;
}

.exp-item {
    display: flex;
    gap: 21px;
}

.exp-description {
    line-height: 1.2;
}

.exp-description h3 {
    font-size: 12px;
    font-weight: 700;
}

.exp-description h4{
    font-size: 11px;
    color: black;
    font-weight: 400;
}

.exp-description p {
    font-size: 11px;
    color: #666;
    font-weight: 400;
}

.exp-description span {
    font-size: 11px;
    font-weight: 400;
}

.container:last-child h2 {
    margin-bottom: 30px;
}

.divider, .sec-divider {
    height: 1px;
    background-color: #EBEBEB;
    margin: 19px 0;
}


