:root {
    --gray: #F3F2EE;
    font-size: 16px;
    font-family: 'Rambla', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--gray);
}

.nav-bar {
    background-color: white;
    width: 100vw;
    min-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.7rem;
    flex-wrap: nowrap;
}

.nav-bar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    min-width: 700px;
    width: 100%;
    min-height: 100%
}

.nav-bar__left-side {
    flex-basis: 40%;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.nav-bar__right-side {
    flex-basis: 60%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.nav-bar-brand {
    position: relative;
    margin-left: 3.64vw;
    margin-right: 0;
}

.nav-bar-brand img {
    border-radius: 3px;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 0.92vw;
    margin-right: 0;
    width: 30.7vw;
}


.search__input {
    width: 100%;
    border: none;
    padding: 0 0.5rem 0 2.215rem;
    line-height: 1.75;
    color: #63686E;
    font-size: 12px;
    border-radius: 4px;
    outline: none;
    height: 34px;
    background-color: #EEF3F7;
    font-family: "Roboto", sans-serif;
}

.search-icon__container {
    position: absolute;
    left: 0.9375rem;
    top: 0.75rem;
    bottom:0.6875rem ;
}

.nav__items {
    display: flex;
    height: 36px;
}

.nav_item a {
    display: flex;
    align-items: center; 
    flex-direction: column; 
    height: 36px;
    width: 58px;
    filter: opacity(60%);
    text-decoration: none;
}

.nav_item button {
    display: flex;
    align-items: center; 
    flex-direction: column; 
    height: 38px;
    width: 58px;
}

.nav_item button span {
    filter: opacity(60%);
}

.nav_item img {
    height: 20px;
    margin-bottom: 5px;
}

.nav__link-text {
    display: inline;
    background-color: transparent;
    font-size: 0.625rem;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 400;
    fill: #191919;
    color: #191919;
}

.nav__link:hover, .nav__link-btn:hover span {
    filter: opacity(100%);
    fill: #191919;
    color: #191919;
}

.nav__link-btn {
    background-color: transparent;
}


.nav__link-btn {
    border: none;
    background-color: none;
    padding: 0;
    cursor: pointer;
}

.nav__photo {
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

#last-opt {
    padding-right: 2vw;
    padding-left: 3.2vw;
    height: 38px;
}

#last-opt .nav__photo {
    width: 25px;
    height: 25px;
    margin-bottom: 2px
}





